/* GENERAL ***************************************************************** */

* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
}

body {
    background: #919191;
}


/* TYPOGRAPHY ************************************************************** */

html {
    font-size: 16px;
}

h1 {
    color: white;
    font-family: 'Comfortaa', sans-serif;
    font-size: 6rem;
    font-weight: normal;
    padding: 1rem;
    text-align: center;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
}

h2 {
    color: white;
    font-size: 1.9rem;
    font-weight: normal;
    padding: 0.5rem 1rem;
    text-align: center;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
}

h3 {
    color: #919191;
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
    text-align: center;
}



/* HEADER **************************************************************** */

header {
    padding: 2rem;
}



/* INPUT ****************************************************************** */
#name-div {
    background: white;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    margin: 1rem 3rem 2rem;
    padding: 1rem;
} 

#name-div input[type="text"] {
    color: #919191;
    border: 1px solid #919191;
    font-size: 0.8rem;
    height: 2rem;
    margin: 0 1rem;
    padding: 0 0.5rem;
    width: 100%;
}

#name-div input[type="button"] {
    color: #919191;
    cursor: pointer;
    border: 1px solid #919191;
    height: 2rem;
    width: 8rem;
}

#welcome-div {
    background: white;
    border-radius: 1rem;
    color: #919191;
    font-size: 2rem;
    text-align: center;
    margin: 1rem 3rem 2rem;
    padding: 1rem;
}

form {
    background: white;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 1rem 3rem;
}

fieldset {
    border: none;
    margin: 1rem;
}

form input[type="text"] {
    color: #919191;
    border: 1px solid #919191;
    display: block;
    font-size: 0.8rem;
    height: 2rem;
    margin: 0.5rem 0 0;
    padding: 0 0.5rem;
    width: 100%;
}

.radio-div {
    display: inline-block;
    height: 1rem;
}

input[type="button"] {
    border-radius: 0.5rem;
    display: block;
    font-size: 0.8rem;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#add-button {
    color: white;
    background: #919191;
    height: 2rem;
    margin-bottom: 0.5rem;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    width: 100%;

}

#clear-button {
    color: #919191;
    border: 1px solid #919191;
    height: 1.5rem;
    width: 100%;
}



/* TRACKER ***************************************************************** */

#tracker-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#gained-section {
    background: white;
    border-radius: 1rem;
    margin: 1rem 1rem 1rem 3rem;
    padding: 1rem;
}

#spent-section {
    background: white;
    border-radius: 1rem;
    margin: 1rem 3rem 1rem 1rem;
    padding: 1rem;
}

#balance-section {
    background: white;
    border-radius: 1rem;
    margin: 1rem 3rem;
    padding: 1rem;
}

table {
    margin: 1rem auto;
}

#gained-table, #spent-table {
    text-align: left;
}

#balance-table {
    text-align: center;
}

th {
    padding: 0.8rem 1rem;
}

.spoons-column {
    width: 18%;
}

.recorded-column {
    width: 38%;
}

td {
    padding: 0.3rem 1rem;
    vertical-align: top;
}


/* FOOTER ****************************************************************** */

footer {
    padding: 3rem;
    text-align: center;
}

footer a {
    color: white;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
}