/* GENERAL ***************************************************************** */

* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
}

*:focus {
    outline: none;
}

body {
    background: #919191;
    padding: 3rem;
}

.white-box {
    background: white;
    border-radius: 1rem;
    padding: 1rem;
}



/* TYPOGRAPHY ************************************************************** */

html {
    font-size: 16px;
}

h1 {
    font-family: 'Comfortaa', sans-serif;
    font-size: 6.1rem;
    font-weight: normal;
    padding: 1rem;
    text-align: center;
}

h2 {
    font-size: 1.9rem;
    font-weight: normal;
    padding: 0.5rem 1rem;
    text-align: center;
}

h3 {
    color: #919191;
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.7rem;
    padding: 1.5rem 1rem 0.5rem;
    text-align: center;
}

.white-text {
    color: white;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
}



/* HEADER **************************************************************** */

header {
    padding: 2rem;
}



/* INPUT ****************************************************************** */
input[type="text"] {
    color: black;
    border: 1px solid #919191;
    font-size: 0.8rem;
    height: 2rem;
    padding: 0 0.5rem;
    width: 100%;
}

input[type="text"]:hover, input[type="text"]:focus {
    outline: 1.5px solid #919191;
}

#name-input {
    display: inline-block;
    margin: 0 1rem;
}

#description-input, #amount-input {
    display: block;
    margin: 0.5rem 0 0;
}

input[type="button"] {
    border: 1px solid #919191;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 0.8rem;
    flex-shrink: 0;
    width: 10rem;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#save-button {
    background: #919191;
    color: white;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    display: inline-block;
    height: 2rem;
}

#forget-button {
    color: #919191;
    display: none;
    height: 2rem;
}

#add-button {
    background: #919191;
    color: white;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    display: block;
    height: 2rem;
    margin-bottom: 0.5rem;
}

#clear-button {
    color: #919191;
    display: block;
    height: 1.5rem;
}

#save-button:hover, #add-button:hover, #save-button:focus, #add-button:focus {
    background: white;
    border: 2px solid #919191;
    color: #919191;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: subpixel-antialiased;
    -o-font-smoothing: subpixel-antialiased;
}

#forget-button:hover, #clear-button:hover, #forget-button:focus, #clear-button:focus {
    background: #ebebeb;

} 


#name-div {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 2rem;
    padding: 2rem;
}

#welcome-p {
    color: #919191;
    display: none;
    font-size: 1.8rem;
}

form {
    display: flex;
    margin: 1rem 0;
}

fieldset {
    border: none;
    margin: 1rem;
}

#description-fieldset {
    flex-grow: 1;
}

#amount-fieldset {
    min-width: 15rem;
}

.radio-div {
    display: inline-block;
    height: 1rem;
}



/* TRACKER ***************************************************************** */

#tracker-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#gained-section {
    margin: 1rem 1rem 1rem 0;
}

#spent-section {
    margin: 1rem 0 1rem 1rem;
}

#balance-section {
    margin: 1rem 0;
    text-align: center;
}

table {
    margin: 1rem 0 ;
}

#gained-table, #spent-table {
    text-align: left;
}

#balance-table {
    margin: 1rem auto;
    text-align: center;
}

th {
    padding: 0.8rem 1rem 1.5rem;
    font-weight: bolder;
}

td {
    padding: 0.4rem 1rem;
    vertical-align: top;
}

.time-td {
    font-size: 0.75rem;
    line-height: 1.25rem;
    padding-right: 0;
}

.activity-column {
    width: 100%;
}

.spoons-column {
    min-width: 4rem;
}

.recorded-column {
    min-width: 8.5rem;
}

.delete-column {
    padding: 0.8rem 0;
}

.delete-button {
    border: none;
    color: #919191;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    line-height: 1.15rem;
    padding: 0;
    margin: 0;
}


/* FOOTER ****************************************************************** */

footer {
    margin: 6rem 0 0;
    text-align: center;
}

footer a:hover, footer a:focus {
    color: #ebebeb;
}